{% extends 'layout.html.twig' %}

{% block body %}

    {% include 'partial/_author-section.html.twig' with {author: author, npub: npub} %}

    <section>
        <div class="profile-tabs">
            <a href="{{ path('author-profile', {'npub': npub}) }}" class="tab-link active">Articles</a>
            <a href="{{ path('author-reading-lists', {'npub': npub}) }}" class="tab-link">Reading Lists</a>
            <a href="{{ path('author-media', {'npub': npub}) }}" class="tab-link">Media</a>
        </div>

        <div class="w-container" data-controller="author-articles" data-author-articles-pubkey-value="{{ pubkey }}" data-author-articles-hub-url-value="{{ mercure_public_hub_url }}">
            {% if articles|length > 0 %}
                <twig:Organisms:CardList :list="articles" class="article-list"></twig:Organisms:CardList>
            {% else %}
                <div class="no-media">
                    <p>No articles found for this author.</p>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
