{% extends 'layout.html.twig' %}

{% block nav %}
{% endblock %}

{% block body %}
    <h1>{{ 'pricing.heading'|trans }}</h1>

    <p>{{ 'pricing.choosePlan'|trans }}</p>

    <div class="price-list">
        <div class="card">
            <h3>{{ 'pricing.scoopSeeker'|trans }}</h3>
            <p class="price">{{ 'pricing.free'|trans }}</p>
            <ul class="features">
                <li>{{ 'pricing.scoopFeature1'|trans }}</li>
            </ul>
            <button disabled="disabled">{{ 'pricing.getStarted'|trans }}</button>
        </div>

        <div class="card">
            <h3>{{ 'pricing.publisher'|trans }}</h3>
            <p class="price">{{ 'pricing.publisherPrice'|trans }}</p>
            <ul class="features">
                <li>{{ 'pricing.publisherFeature1'|trans }}</li>
                <li>{{ 'pricing.publisherFeature2'|trans }}</li>
                <li>{{ 'pricing.publisherFeature3'|trans }}</li>
            </ul>
            <button disabled="disabled">{{ 'pricing.subscribe'|trans }}</button>
        </div>

        <div class="card">
            <h3>{{ 'pricing.curator'|trans }}</h3>
            <p class="price">{{ 'pricing.curatorPrice'|trans }}</p>
            <ul class="features">
                <li>{{ 'pricing.curatorFeature1'|trans }}</li>
                <li>{{ 'pricing.curatorFeature2'|trans }}</li>
                <li>{{ 'pricing.curatorFeature3'|trans }}</li>
            </ul>
            <button disabled="disabled">{{ 'pricing.subscribe'|trans }}</button>
        </div>
    </div>
{% endblock %}
