{% extends 'layout.html.twig' %}

{% block title %}{{ 'roadmap.heading'|trans }} | {{ brand_name }}{% endblock %}

{% block body %}
<div class="w-container py-4">
    <twig:Atoms:PageHeading heading="{{ 'roadmap.heading'|trans }}" tagline="{{ 'roadmap.tagline'|trans }}" />

    <div class="roadmap-content">
        {{ roadmapHtml|raw }}
    </div>
</div>
{% endblock %}
