{% extends 'layout.html.twig' %}

{% block body %}
  <h1>{{ 'disambiguation.heading'|trans({'%slug%': slug}) }}</h1>
  <p>{{ 'disambiguation.description'|trans({'%slug%': slug})|raw }}</p>
  <ul>
    {% for article in articles %}
      {% set author = authors[loop.index0] %}
      <li>
        Author: <twig:Molecules:UserFromNpub :pubkey="article.pubkey" /><span> | </span>
          <span>Published: {{ article.createdAt|date('Y-m-d H:i') }}</span><br>
        <a href="{{ path('author-article-slug', { npub: author.npub, slug: slug }) }}">
            {{ article.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block aside %}
  <div class="aside-box">
    <h3>{{ 'disambiguation.whatIsThis'|trans }}</h3>
    <p>{{ 'disambiguation.explanation'|trans }}</p>
  </div>
{% endblock %}
