<header>
    <div class="site-title">
        {{#if site.logo}}
        <a href="/"><img src="{{site.logo}}" alt="{{site.title}}" height="40"></a>
        {{else}}
        <a href="/">{{site.title}}</a>
        {{/if}}
    </div>
    {{#if site.description}}
    <p class="site-description">{{site.description}}</p>
    {{/if}}
    {{#if site.creator_lud16}}
        <button
            class="zap-button zap-button-sm"
            data-zap-button
            data-zap-pubkey="{{site.creator_pubkey}}"
            data-zap-lud16="{{site.creator_lud16}}"
            {{#if site.creator_lud06}}data-zap-lud06="{{site.creator_lud06}}"{{/if}}
            data-zap-recipient="{{site.title}}"
            style="margin: 0.5rem 0;"
        >
            <span class="zap-icon"><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon>
            </svg></span>
            Support this magazine
        </button>
    {{/if}}
    <nav>
        <a href="/">Home</a>
        {{#each site.navigation}}
        <a href="{{url}}">{{label}}</a>
        {{/each}}
    </nav>
</header>

