<header>
    {{#if site.logo}}
    <div class="site-cover">
        <a href="/"><img src="{{site.logo}}" alt="{{site.title}}" class="cover-image"></a>
    </div>
    {{/if}}
    <div class="site-title">
        <a href="/">{{site.title}}</a>
    </div>
    {{#if site.description}}
    <p class="site-description">{{site.description}}</p>
    {{/if}}
    <nav>
        <a href="/">Home</a>
        {{#each site.navigation}}
        <a href="{{url}}">{{label}}</a>
        {{/each}}
    </nav>
</header>

