<header>
    <div class="site-title">
        <a href="/">{{site.title}}</a>
    </div>
    {{#if site.description}}
    <p class="site-description">{{site.description}}</p>
    {{/if}}
    <nav>
        <a href="/" {{#if site.home_current}}class="nav-current"{{/if}}>Home</a>
        {{#each site.navigation}}
        <a href="{{url}}" {{#if current}}class="nav-current"{{/if}}>{{label}}</a>
        {{/each}}
    </nav>
    {{#if site.logo}}
    <div class="site-cover">
        <a href="/"><img src="{{site.logo}}" alt="{{site.title}}" class="cover-image"></a>
    </div>
    {{/if}}
</header>

