{% if article is defined %}
    <div class="card{% if isEmbed is defined and isEmbed %} embed{% endif %}">
        <div class="metadata">
            {% if not is_author_profile and app.current_route != 'latest_articles' %}
                {% set pubkey = article.pubkey %}
                {% set user = authors_metadata[pubkey] ?? null %}
                <p class="m-0">by <twig:Molecules:UserFromNpub :user="user" :ident="pubkey" /></p>
            {% endif %}
            <small>{{ article.createdAt|date('F j Y') }}</small>
        </div>
        {% if article.kind == 30024 %}
            {# Draft - use draft route #}
            {% set link = path('author-draft-slug', {npub: article.pubkey|toNpub, slug: article.slug|url_encode }) %}
        {% else %}
            {# Regular article #}
            {% set link = path('author-article-slug', {npub: article.pubkey|toNpub, slug: article.slug|url_encode }) %}

            {% if cat  and mag %}
                {% set link = path('magazine-category-article', {slug: article.slug|url_encode, cat: cat, mag: mag}) %}
            {% endif %}
        {% endif %}
        <a href="{{ link }}" data-turbo-frame="_top">
            <div class="card-header">
                {% if article.image %}
                    <img src="{{ article.image }}" alt="Cover image for {{ article.title }}" onerror="this.style.display='none';" >
                {% endif %}
            </div>
            <div class="card-body">
                    <h2 class="card-title line-clamp-5">{{ article.title }}</h2>
                    {% if article.summary %}
                        <p class="lede line-clamp-5">
                            {{ article.summary }}
                        </p>
                    {% endif %}
            </div>
        </a>
        <div class="card-footer"></div>
    </div>
{% endif %}
