{% extends 'layout.html.twig' %}

{% block body %}
  <h1>Attach Articles</h1>

  <div class="notice info">
      <p>Add articles to your reading list. Use the coordinate format <code>30023:pubkey:slug</code>, or <code>naddr</code>.</p>
      <small>You can remove items from the list in the next step.</small>
  </div>

  {{ form_start(form) }}
  {{ form_row(form.title, {label: 'Reading list title'}) }}

  <h3>Articles</h3>
  <div
    {{ stimulus_controller('ui--form-collection') }}
    {{ stimulus_controller('ui--article-preview-input', { url: path('api_article_preview') }) }}
    data-ui--form-collection-index-value="{{ form.articles|length > 0 ? form.articles|last.vars.name + 1 : 0 }}"
    data-ui--form-collection-prototype-value="<div class=&quot;article-input-wrapper&quot;>{{ form_widget(form.articles.vars.prototype, { attr: { 'data-ui--article-preview-input-target': 'input', 'data-action': 'change->ui--article-preview-input#onInputChange blur->ui--article-preview-input#onInputChange' } })|e('html_attr') }}<div class=&quot;article-preview-container mt-1&quot;></div></div>">
        <ul id="aCollection" class="d-flex flex-column gap-2 list-unstyled" {{ stimulus_target('ui--form-collection', 'collectionContainer') }}>
          {% for item in form.articles %}
            <li class="d-flex flex-column">
              <div class="article-input-wrapper">
                {{ form_widget(item, { attr: { 'data-ui--article-preview-input-target': 'input', 'data-action': 'change->ui--article-preview-input#onInputChange blur->ui--article-preview-input#onInputChange' } }) }}
                <div class="article-preview-container mt-1"></div>
              </div>
            </li>
          {% endfor %}
        </ul>
        <div class="actions">
          <button type="button" class="btn btn-secondary mt-2" {{ stimulus_action('ui--form-collection', 'addCollectionElement') }}>Add article</button>
        </div>
  </div>

  <div class="mt-3 d-flex flex-row gap-2 actions">
    <a class="btn btn-secondary" href="{{ path('read_wizard_setup') }}">Back</a>
    <a class="btn btn-secondary" href="{{ path('read_wizard_cancel') }}">Cancel</a>
    <button class="btn btn-primary">Review</button>
  </div>
  {{ form_end(form) }}
{% endblock %}
