{% extends 'base.html.twig' %}

{% block body %}
  <h1>Create Reading List</h1>

  {{ form_start(form) }}
  {{ form_row(form.title, {label: 'Title'}) }}
  {{ form_row(form.summary) }}
  {{ form_row(form.tags) }}

  <div class="mt-3 d-flex flex-row gap-2">
    <a class="btn btn-secondary" href="{{ path('read_wizard_cancel') }}">Cancel</a>
    <button class="btn btn-primary">Add articles</button>
  </div>
  {{ form_end(form) }}
{% endblock %}

