<turbo-frame id="media-tab-content">
    {% if not isLoggedIn|default(true) %}
        <div class="alert alert-info">
            <p>{{ 'media.interests.signInRequired'|trans }}</p>
        </div>
    {% elseif interestTags is defined and interestTags is empty %}
        <div class="alert alert-info">
            <h4>{{ 'media.interests.noInterests'|trans }}</h4>
            <p>{{ 'media.interests.noInterestsHint'|trans }}</p>
            <a data-turbo-frame="_top" href="{{ path('my_interests') }}" class="btn btn-primary btn-sm mt-2">{{ 'media.interests.configure'|trans }}</a>
        </div>
    {% elseif mediaEvents|length == 0 %}
        <div class="alert alert-info">
            <p>{{ 'media.interests.noMedia'|trans }}</p>
        </div>
    {% else %}
        {% include 'partial/_masonry.html.twig' %}
        <div class="discover-footer">
            <p class="media-count">{{ 'media.endOfLine'|trans }}</p>
        </div>
    {% endif %}
</turbo-frame>

