{% extends 'layout.html.twig' %}

{% block title %}{{ 'journey.setup.title'|trans }}{% endblock %}

{% block body %}
    <twig:Atoms:PageHeading heading="{{ 'journey.setup.heading'|trans }}" tagline="{{ 'journey.setup.tagline'|trans }}"/>

    {% include 'magazine/_wizard_steps.html.twig' with { currentStep: 1 } %}

    <div class="w-container blog-journey-step">
        <div class="journey-card" data-controller="utility--login-modal">
            <h2>{{ 'journey.setup.loginHeading'|trans }}</h2>
            <p>{{ 'journey.setup.loginDescription'|trans }}</p>

            <div class="journey-login-actions">
                <twig:Atoms:Button {{ ...stimulus_action('utility--login-modal', 'openDialog') }} tag="a">{{ 'auth.login'|trans }}</twig:Atoms:Button>
            </div>
            <twig:LoginModal />
        </div>
    </div>
{% endblock %}

