<div class="comments">
    {% for item in list %}
        <div class="card comment {% if item.kind is defined and item.kind == 9735 %}zap-comment{% endif %}">
            <div class="metadata">
                <p><twig:Molecules:UserFromNpub ident="{{ item.pubkey }}" /></p>
                <small>{{ item.created_at|date('F j Y') }}</small>
            </div>

            <div class="card-body">
                <twig:Atoms:Content content="{{ item.content }}" />
            </div>
            {# Display Nostr link previews if links detected #}
            {% if commentLinks[item.id] is defined and commentLinks[item.id]|length > 0 %}
                <div class="card-footer nostr-previews mt-3">
                    <div class="preview-container">
                        {% for link in commentLinks[item.id] %}
                            <div class="mb-3">
                                <twig:Molecules:NostrPreview preview="{{ link }}" />
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if item.tags is defined and item.tags|length > 0 %}
                <ul>
                    {% for tag in item.tags %}
                        <li>
                            <strong>{{ tag[0] }}:</strong> {{ tag[1] }}
                            {% if tag[2] is defined %}
                                <span>{{ tag[2] }}</span>
                            {% endif %}
                            {% if tag[3] is defined %}
                                <span>{{ tag[3] }}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endfor %}
</div>
