<div {{ attributes }}>
    {% for item in nzines %}
        {% set idx = indices[item.npub] is defined ? indices[item.npub] : null %}
        <a class="card" href="{{ path('nzine_view', { npub: item.npub })}}">
            <div class="card-body">
                <h3 class="card-title">
                    {% if idx and idx.title %}
                        {{ idx.title }}
                    {% elseif item.slug %}
                        {{ item.slug }}
                    {% else %}
                        {{ item.npub }}
                    {% endif %}
                </h3>
                {% if idx and idx.summary %}
                    <p class="hidden">{{ idx.summary }}</p>
                {% endif %}
            </div>
        </a>
        <br>
    {% endfor %}
</div>
