<div class="footer-grid">
    <div class="footer-col">
        <div class="footer-section">
            <ul class="footer-list">
                <li><a href="{{ path('app_static_about') }}">{{ 'footer.about'|trans }}</a></li>
                <li><a href="{{ path('app_static_pricing') }}">{{ 'footer.pricing'|trans }}</a></li>
                <li><a href="{{ path('vanity_index') }}">{{ 'footer.vanityName'|trans }}</a></li>
                <li><a href="{{ path('active_indexing_index') }}">{{ 'footer.activeIndexing'|trans }}</a></li>
                <li><a href="{{ path('publication_subdomain_index') }}">{{ 'footer.publicationSubdomain'|trans }}</a></li>
                <li><a href="{{ path('app_static_tos') }}">{{ 'footer.termsOfService'|trans }}</a></li>
                <li><a href="https://support.decentnewsroom.com" target="_blank" rel="noopener">{{ 'footer.support'|trans }}</a></li>
                <li><a href="/feedback">{{ 'footer.contact'|trans }}</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-col">
        <div class="footer-section">
            <ul class="footer-list">
                <li><a href="{{ path('app_static_changelog') }}">{{ 'footer.changelog'|trans }}</a></li>
                <li><a href="{{ path('app_static_roadmap') }}">{{ 'footer.roadmap'|trans }}</a></li>
                <li class="footer-nostr-link">
                    <span class="footer-label">{{ 'footer.project'|trans }}:</span>
                    <twig:Molecules:UserFromNpub ident="{{ project_npub }}" />
                </li>
                <li>
                    <a href="https://github.com/decentnewsroom/newsroom" target="_blank" rel="noopener">
                        <svg class="footer-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor"><path d="M12 0C5.37 0 0 5.37 0 12c0 5.31 3.435 9.795 8.205 11.385.6.105.825-.255.825-.57 0-.285-.015-1.23-.015-2.235-3.015.555-3.795-.735-4.035-1.41-.135-.345-.72-1.41-1.23-1.695-.42-.225-1.02-.78-.015-.795.945-.015 1.62.87 1.845 1.23 1.08 1.815 2.805 1.305 3.495.99.105-.78.42-1.305.765-1.605-2.67-.3-5.46-1.335-5.46-5.925 0-1.305.465-2.385 1.23-3.225-.12-.3-.54-1.53.12-3.18 0 0 1.005-.315 3.3 1.23.96-.27 1.98-.405 3-.405s2.04.135 3 .405c2.295-1.56 3.3-1.23 3.3-1.23.66 1.65.24 2.88.12 3.18.765.84 1.23 1.905 1.23 3.225 0 4.605-2.805 5.625-5.475 5.925.435.375.81 1.095.81 2.22 0 1.605-.015 2.895-.015 3.3 0 .315.225.69.825.57A12.02 12.02 0 0024 12c0-6.63-5.37-12-12-12z"/></svg>
                        GitHub
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <p>&copy; {{ "now"|date("Y") }} {{ brand_name }} &middot; {{ brand_version }}</p>
</div>
