<div {{ attributes.defaults(stimulus_controller('login')) }}>
    {% if app.user %}
        <div class="notice info">
            <twig:Molecules:UserFromNpub ident="{{ app.user.npub }}" />
            {% if is_granted('ROLE_ADMIN') %}<span class="badge">Admin</span>{% endif %}
        </div>
        {% if is_granted('ROLE_ADMIN') %}
        <ul class="user-nav">
            <li><a href="{{ path('admin_magazines') }}">Magazines</a></li>
            <li><a href="{{ path('admin_analytics') }}">Visit Analytics</a></li>
        </ul>
        {% endif %}
        <ul class="user-nav">
            <li>
                <a href="{{ path('editor-create') }}">Write Article</a>
            </li>
{#            <li>#}
{#                <a href="{{ path('reading_list_index') }}">Compose List</a>#}
{#            </li>#}
            {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('mag_wizard_setup') }}">Create Magazine</a>
            </li>
            {% endif %}
            <li>
                <a href="/logout" data-action="live#$render">{{ 'heading.logout'|trans }}</a>
            </li>
        </ul>
    {% else %}
        <div class="mt-2">
            <twig:Atoms:Button {{ ...stimulus_action('login', 'loginAct') }}>{{ 'heading.logIn'|trans }}</twig:Atoms:Button>
        </div>
    {% endif %}
    <div>
        <div class="spinner" data-loading>
            <div class="lds-dual-ring"></div>
        </div>
    </div>
</div>
