<section>
    <h1>
        <twig:Atoms:NameOrNpub :author="author" :npub="npub"></twig:Atoms:NameOrNpub>
        {% if author.bot is defined %}
            <span class="tag">bot</span>
        {% endif %}
    </h1>


    {% if author.lud16 is defined and author.lud16 %}
        <twig:Molecules:ZapButton
            class="mt-2 mb-2"
            btnClass="btn-sm"
            recipientPubkey="{{ pubkey }}"
            recipientLud16="{{ author.lud16 is iterable ? author.lud16|first : author.lud16 }}"
        />
    {% endif %}

    {% if author.nip05 is defined %}
        {% if author.nip05 is iterable %}
            {% for nip05Value in author.nip05 %}
                <twig:Atoms:Nip05Badge
                    nip05="{{ nip05Value }}"
                    :npub="npub"
                />
            {% endfor %}
        {% else %}
            <twig:Atoms:Nip05Badge
                nip05="{{ author.nip05 }}"
                :npub="npub"
            />
        {% endif %}
    {% endif %}
    <div class="mt-2">
        {% if author.about is defined %}
            {{ author.about|markdown_to_html|mentionify|linkify  }}
        {% endif %}
    </div>
</section>
