{% extends 'base.html.twig' %}

{% block title %}{{ 'error.accessDeniedTitle'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'error.accessDenied'|trans }}</h1>
    <p>{{ 'error.accessDeniedDescription'|trans }}</p>
    <p><a href="{{ path('app_login') }}">{{ 'auth.login'|trans }}</a> {{ 'text.or'|trans }} <a href="{{ path('home') }}">{{ 'error.returnHome'|trans }}</a>.</p>
{% endblock %}
