{% extends 'layout.html.twig' %}

{% block body %}
    <h1>{{ 'error.serverError'|trans }}</h1>
    <h2>{{ 'error.serverErrorSubheading'|trans }}</h2>

    <p>
        {{ 'error.serverErrorDescription'|trans }}
    </p>

    <a href="{{ path('home') }}">{{ 'error.returnHome'|trans }}</a>
{% endblock %}
