{% extends 'layout.html.twig' %}

{% block body %}
    <h1>{{ 'error.notFound'|trans }}</h1>
    <h2>{{ 'error.notFoundSubheading'|trans }}</h2>

    <p>
        {{ 'error.notFoundDescription'|trans }}
    </p>

    <a href="{{ path('home') }}">{{ 'error.returnHome'|trans }}</a>
{% endblock %}
