{% extends 'layout.html.twig' %}

{% block body %}
    <twig:Atoms:PageHeading heading="{{ category.name }}"/>

    <div class="subcategories-grid">
        {% set cat = topics[categoryKey] ?? null %}
        {% if cat %}
            {% for subKey, sub in cat.subcategories %}
                <div class="sub-card">
                    <h3>
                        <a href="{{ path('forum_topic', {'key': categoryKey ~ '-' ~ subKey}) }}">{{ sub.name }}</a>
                    </h3>
                    <div class="d-flex flex-row">
                        <div class="tags m-0">
                            {% for tag in sub.tags %}
                                <a class="tag" href="{{ path('forum_tag', {'tag': tag}) }}">{{ tag }}</a>
                            {% endfor %}
                        </div>
                        <div class="count">{{ sub.count|default(0) }}</div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-info">No subcategories available for this topic.</div>
        {% endif %}
    </div>
{% endblock %}

{% block aside %}
    <twig:Atoms:ForumAside />
{% endblock %}
