{% extends 'layout.html.twig' %}

{% block body %}
    <twig:Atoms:PageHeading heading="{{ tag|capitalize }}" />

    {% if deprecated is defined and deprecated %}
        <div class="deprecation-notice">
            <p>{{ 'forum.deprecated.notice'|trans }} <a href="{{ path('home_feed_tab', {tab: 'interests'}) }}">{{ 'forum.deprecated.link'|trans }}</a></p>
        </div>
    {% endif %}

    <div class="w-container">
        {% if articles is empty %}
            <p>{{ 'topics.noArticles'|trans }}</p>
        {% else %}
            <twig:Organisms:CardList :list="articles" class="article-list" />
        {% endif %}

        {% if pager.getNbPages() > 1 %}
            <twig:Atoms:Pagination :pager="pager" route="forum_tag" :routeParams="{tag: tag}" />
        {% endif %}
    </div>
{% endblock %}

{% block aside %}{% endblock %}
