{% extends 'layout.html.twig' %}

{% block body %}
    <twig:Atoms:PageHeading heading="{{ tag|capitalize }}" />

    <div class="articles-list">
        {% for article in articles %}
            <div class="article-item">
                <h3><a href="{{ path('article-slug', {slug: article.slug|url_encode}) }}">{{ article.title }}</a></h3>
                <p>{{ article.summary|slice(0, 200) }}{% if article.summary|length > 200 %}...{% endif %}</p>
                <small>Published: {{ article.createdAt|date('Y-m-d H:i') }}</small>
            </div>
        {% endfor %}
    </div>

    {% if articles is empty %}
        <p>No articles found for this tag.</p>
    {% endif %}

    {% if pager.getNbPages() > 1 %}
        <twig:Atoms:Pagination :pager="pager" route="forum_tag" :routeParams="{tag: tag}" />
    {% endif %}
{% endblock %}

{% block aside %}
    <twig:Atoms:ForumAside />
{% endblock %}
