{% extends 'layout.html.twig' %}

{% block body %}
    <twig:Atoms:PageHeading heading="{{ topic.name }}" tagline="{{ tags|keys|join(', ') }}"/>

    {% if deprecated is defined and deprecated %}
        <div class="deprecation-notice">
            <p>{{ 'forum.deprecated.notice'|trans }} <a href="{{ path('home_feed_tab', {tab: 'interests'}) }}">{{ 'forum.deprecated.link'|trans }}</a></p>
        </div>
    {% endif %}

    <div class="w-container">
        <div class="article-list">
            {% for article in articles %}
                <twig:Molecules:ArticlePreview :article="article"  npub="{{ article.pubkey|toNpub }}" />
            {% endfor %}
        </div>

        {% if articles is empty %}
            <p>No articles found for this tag.</p>
        {% endif %}

        {% if pager.getNbPages() > 1 %}
            <twig:Atoms:Pagination :pager="pager" route="forum_topic" :routeParams="{key: categoryKey ~ '-' ~ subcategoryKey}" />
        {% endif %}
    </div>
{% endblock %}

{% block aside %}{% endblock %}
